<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >ngEvents</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Events</a>
        </li>
        <li><a [routerLink]="['/events/new']" routerLinkActive="active">Create Event</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
            Events
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li >
              <a href="">Angular Connect</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a *ngIf="!this.auth.isAuthenticated()" [routerLink]="['user/login']">Login</a>
            <a *ngIf="this.auth.isAuthenticated()" [routerLink]="['user/profile']">Welcome {{auth.currentUser.firstName}}</a>
          </li>
        </ul>
      </div>
      <form id="searchForm" #searchForm="ngForm" (ngSubmit)="searchSession(searchTerm)" class="navbar-form navbar-right"  >
        <div class="form-group">
          <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search Sessions" >
        </div>
        <button class="btn btn-default" data-toggle="modal" href='#modal-id'>
          Search
        </button>
      </form>
    </div>
  </div>
</div>
<app-simple-modal [title] = "'Search Results'" *ngIf="!!foundSessions">
      <div *ngIf="foundSessions.length===0 && resultFound===null" class="col-md-12 text-center">
        <img src="/assets/images/preloader.gif" alt="loading...." />
      </div>
      <div *ngIf="!!foundSessions.length">
            <div class="list-group fadeIn">
               <a class="list-group-item" *ngFor="let session of foundSessions" [routerLink]="['/events',session.eventId]" data-dismiss="modal">{{session.name}}</a>
            </div>
      </div>
      <div *ngIf="resultFound===false">
          <h4>No results found for keyword matching : '{{ searchTerm }}'</h4>
      </div>

</app-simple-modal>

