/* You can add global styles to this file, and also import other style files */
.hoverwell:hover {
  background-color: #485563;
  cursor: pointer;
}

.container {
  padding-top: 10px;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}

form button{
  margin:10px 10px  0 0;
}

navbar button{
  margin:0;
}

form  em { font-size:12px; color:#ff0000; float:right;}
form .error input,
form .error textarea,
form .error select{border:2px solid #ff9900 !important;}
form .error ::webkit-input-placeholder{color:#666;}
form .error ::moz-input-placeholder{color:#666;}
form .error :moz-input-placeholder{color:#666;}
form .error :ms-input-placeholder{color:#666;}